In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import urllib.request, json
from matplotlib.animation import FuncAnimation

In [2]:
data_json = pd.read_json('https://gramener.com/datasets/ipl-may-2016/matches?_limit=600&_format=json&_meta=y')
data = pd.read_csv("C:/Users/lalit/Desktop/Numpy_Pandas_code/IPL/data.csv")
len(data)

577

In [3]:
data.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [4]:
len(data.columns)

18

In [5]:
data.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [6]:
#total number of teams participating (Team names)
team1_names = data.team1.unique()
team1_names.tolist()
team2_names = data.team2.unique()
team2_names.tolist()
total_teams = list(set(team1_names) & set(team2_names))
total_teams

['Sunrisers Hyderabad',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Deccan Chargers',
 'Mumbai Indians',
 'Kochi Tuskers Kerala',
 'Rising Pune Supergiants',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Pune Warriors',
 'Gujarat Lions',
 'Delhi Daredevils',
 'Kings XI Punjab']

In [7]:
#Total number of teams participating (Team size)
len(total_teams)

13

In [8]:
#Total number of won matches
win = data[(data['win_by_runs']>=1) | (data['win_by_wickets']>=1)]
win.winner.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Delhi Daredevils',
       'Royal Challengers Bangalore', 'Rajasthan Royals',
       'Kings XI Punjab', 'Deccan Chargers', 'Mumbai Indians',
       'Pune Warriors', 'Kochi Tuskers Kerala', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions'], dtype=object)

In [9]:
KKR=win[win['winner']=='Kolkata Knight Riders'].count()
MI=win[win['winner']=='Mumbai Indians'].count()
KXP=win[win['winner']=='Kings XI Punjab'].count()
CSK=win[win['winner']=='Chennai Super Kings'].count()
DC=win[win['winner']=='Deccan Chargers'].count()
DD=win[win['winner']=='Delhi Daredevils'].count()
RC=win[win['winner']=='Royal Challengers Bangalore'].count()
KT=win[win['winner']=='Kochi Tuskers Kerala'].count()
SH=win[win['winner']=='Sunrisers Hyderabad'].count()
RPS=win[win['winner']=='Rising Pune Supergiants'].count()
RR=win[win['winner']=='Rajasthan Royals'].count()
PW=win[win['winner']=='Pune Warriors'].count()
GL=win[win['winner']=='Gujarat Lions'].count()

In [10]:
KKR_winner=KKR['winner']
MI_winner=MI['winner']
KXP_winner=KXP['winner']
CSK_winner=CSK['winner']
DC_winner=DC['winner']
DD_winner=DD['winner']
RC_winner=RC['winner']
KT_winner=KT['winner']
SH_winner=SH['winner']
RPS_winner=RPS['winner']
RR_winner=RR['winner']
PW_winner=PW['winner']
GL_winner=GL['winner']

In [11]:
winners= pd.Series([KKR_winner,SH_winner,KXP_winner,RC_winner,DC_winner,DD_winner,CSK_winner,KT_winner,MI_winner,RPS_winner,RR_winner,PW_winner,GL_winner],index=['KKR','SH','KXP','RC','DC','DD','CSK','KT','MI','RPS','RR','PW','GL'])
winners_df=pd.DataFrame(winners,columns=['No. of wins by the team'])
winners_df

     No. of wins by the team
KKR                       68
SH                        33
KXP                       61
RC                        69
DC                        29
DD                        56
CSK                       79
KT                         6
MI                        80
RPS                        5
RR                        61
PW                        12
GL                         9

In [12]:
print('Total number of matches played by each team since first edition. \n')
d= pd.DataFrame(data.groupby('team1')['team2'].count())
e= pd.DataFrame(data.groupby('team2')['team2'].count())
f=d+e
f=f.reset_index()
f.columns=['Team','Count']
print(f)

Total number of matches played by each team since first edition.

                           Team  Count
0           Chennai Super Kings    131
1               Deccan Chargers     75
2              Delhi Daredevils    133
3                 Gujarat Lions     16
4               Kings XI Punjab    134
5          Kochi Tuskers Kerala     14
6         Kolkata Knight Riders    132
7                Mumbai Indians    140
8                 Pune Warriors     46
9              Rajasthan Royals    118
10      Rising Pune Supergiants     14
11  Royal Challengers Bangalore    139
12          Sunrisers Hyderabad     62

In [13]:
f

                           Team  Count
0           Chennai Super Kings    131
1               Deccan Chargers     75
2              Delhi Daredevils    133
3                 Gujarat Lions     16
4               Kings XI Punjab    134
5          Kochi Tuskers Kerala     14
6         Kolkata Knight Riders    132
7                Mumbai Indians    140
8                 Pune Warriors     46
9              Rajasthan Royals    118
10      Rising Pune Supergiants     14
11  Royal Challengers Bangalore    139
12          Sunrisers Hyderabad     62

In [14]:
d= pd.DataFrame(data.groupby('team1')['team2'].count())
d

                             team2
team1
Chennai Super Kings             77
Deccan Chargers                 43
Delhi Daredevils                57
Gujarat Lions                    6
Kings XI Punjab                 69
Kochi Tuskers Kerala             7
Kolkata Knight Riders           62
Mumbai Indians                  76
Pune Warriors                   20
Rajasthan Royals                54
Rising Pune Supergiants          7
Royal Challengers Bangalore     62
Sunrisers Hyderabad             37

In [15]:
e= pd.DataFrame(data.groupby('team2')['team2'].count())
e

                             team2
team2
Chennai Super Kings             54
Deccan Chargers                 32
Delhi Daredevils                76
Gujarat Lions                   10
Kings XI Punjab                 65
Kochi Tuskers Kerala             7
Kolkata Knight Riders           70
Mumbai Indians                  64
Pune Warriors                   26
Rajasthan Royals                64
Rising Pune Supergiants          7
Royal Challengers Bangalore     77
Sunrisers Hyderabad             25

In [16]:
team_stats = pd.DataFrame({'Total Matches': data.team1.value_counts() + data.team2.value_counts(), 'Total win': data.winner.value_counts()})
team_stats = team_stats.reset_index()
team_stats.rename(columns = {'index':'Teams'}, inplace = True)
len(team_stats)

13

In [17]:
winloss = team_stats['Total win'] / team_stats['Total Matches']
winloss = pd.DataFrame({'winloss': team_stats['Total win'] / team_stats['Total Matches']})
winloss

     winloss
0   0.603053
1   0.386667
2   0.421053
3   0.562500
4   0.470149
5   0.428571
6   0.515152
7   0.571429
8   0.260870
9   0.533898
10  0.357143
11  0.503597
12  0.548387

In [18]:
team_stats1 = team_stats.join(winloss)

In [19]:
data.toss_winner.value_counts()

Mumbai Indians                 74
Kolkata Knight Riders          69
Chennai Super Kings            66
Kings XI Punjab                64
Delhi Daredevils               64
Rajasthan Royals               63
Royal Challengers Bangalore    61
Deccan Chargers                43
Sunrisers Hyderabad            30
Pune Warriors                  20
Gujarat Lions                   8
Kochi Tuskers Kerala            8
Rising Pune Supergiants         7
Name: toss_winner, dtype: int64

In [20]:
team_stats = pd.DataFrame({'Total Matches': data.team1.value_counts() + data.team2.value_counts(), 'Total win': data.winner.value_counts(), 'Toss win': data.toss_winner.value_counts()})
team_stats = team_stats.reset_index()
team_stats.rename(columns = {'index':'Teams'}, inplace = True)
len(team_stats)

13

In [21]:
team_stats1 = team_stats.join(winloss)
team_stats1

                          Teams  Toss win  Total Matches  Total win   winloss
0           Chennai Super Kings        66            131         79  0.603053
1               Deccan Chargers        43             75         29  0.386667
2              Delhi Daredevils        64            133         56  0.421053
3                 Gujarat Lions         8             16          9  0.562500
4               Kings XI Punjab        64            134         63  0.470149
5          Kochi Tuskers Kerala         8             14          6  0.428571
6         Kolkata Knight Riders        69            132         68  0.515152
7                Mumbai Indians        74            140         80  0.571429
8                 Pune Warriors        20             46         12  0.260870
9              Rajasthan Royals        63            118         63  0.533898
10      Rising Pune Supergiants         7             14          5  0.357143
11  Royal Challengers Bangalore        61            139         70  0.503597
12          Sunrisers Hyderabad        30             62         34  0.548387

In [22]:
w = data[(data['toss_winner'] == data['winner'])]
w["toss_winner"]

1              Chennai Super Kings
8                 Rajasthan Royals
10                Rajasthan Royals
12                 Deccan Chargers
14             Chennai Super Kings
17                 Kings XI Punjab
18                Rajasthan Royals
21                 Kings XI Punjab
24                 Kings XI Punjab
25                 Deccan Chargers
26                  Mumbai Indians
27             Chennai Super Kings
28           Kolkata Knight Riders
29                Rajasthan Royals
30                  Mumbai Indians
32           Kolkata Knight Riders
33                Rajasthan Royals
35           Kolkata Knight Riders
36                  Mumbai Indians
39                  Mumbai Indians
44                Delhi Daredevils
45                Rajasthan Royals
47     Royal Challengers Bangalore
48                 Kings XI Punjab
49                Delhi Daredevils
50                Rajasthan Royals
53                Rajasthan Royals
57                Rajasthan Royals
59     Royal Challengers Bangalore
60                Delhi Daredevils
                  ...
525                  Gujarat Lions
527               Delhi Daredevils
528            Sunrisers Hyderabad
529          Kolkata Knight Riders
530                 Mumbai Indians
531            Sunrisers Hyderabad
534            Sunrisers Hyderabad
536          Kolkata Knight Riders
538        Rising Pune Supergiants
540                 Mumbai Indians
541                  Gujarat Lions
545                 Mumbai Indians
546          Kolkata Knight Riders
547               Delhi Daredevils
549        Rising Pune Supergiants
550            Sunrisers Hyderabad
551    Royal Challengers Bangalore
554                  Gujarat Lions
556            Sunrisers Hyderabad
557                 Mumbai Indians
558               Delhi Daredevils
564    Royal Challengers Bangalore
565        Rising Pune Supergiants
567                  Gujarat Lions
568               Delhi Daredevils
570                  Gujarat Lions
572    Royal Challengers Bangalore
573    Royal Challengers Bangalore
575            Sunrisers Hyderabad
576            Sunrisers Hyderabad
Name: toss_winner, Length: 291, dtype: object

In [23]:
KKR=w[w['toss_winner']=='Kolkata Knight Riders'].count()
MI=w[w['toss_winner']=='Mumbai Indians'].count()
KXP=w[w['toss_winner']=='Kings XI Punjab'].count()
CSK=w[w['toss_winner']=='Chennai Super Kings'].count()
DC=w[w['toss_winner']=='Deccan Chargers'].count()
DD=w[w['toss_winner']=='Delhi Daredevils'].count()
RC=w[w['toss_winner']=='Royal Challengers Bangalore'].count()
KT=w[w['toss_winner']=='Kochi Tuskers Kerala'].count()
SH=w[w['toss_winner']=='Sunrisers Hyderabad'].count()
RPS=w[w['toss_winner']=='Rising Pune Supergiants'].count()
RR=w[w['toss_winner']=='Rajasthan Royals'].count()
PW=w[w['toss_winner']=='Pune Warriors'].count()
GL=w[w['toss_winner']=='Gujarat Lions'].count()

In [93]:
KKR=w[w['toss_winner']=='Kolkata Knight Riders'].count()
KKR

id                 38
season             38
city               38
date               38
team1              38
team2              38
toss_winner        38
toss_decision      38
result             38
dl_applied         38
winner             38
win_by_runs        38
win_by_wickets     38
player_of_match    38
venue              38
umpire1            38
umpire2            38
umpire3             0
dtype: int64

In [24]:
KKR_winner=KKR['toss_winner']
MI_winner=MI['toss_winner']
KXP_winner=KXP['toss_winner']
CSK_winner=CSK['toss_winner']
DC_winner=DC['toss_winner']
DD_winner=DD['toss_winner']
RC_winner=RC['toss_winner']
KT_winner=KT['toss_winner']
SH_winner=SH['toss_winner']
RPS_winner=RPS['toss_winner']
RR_winner=RR['toss_winner']
PW_winner=PW['toss_winner']
GL_winner=GL['toss_winner']

In [95]:
KKR_winner=KKR['toss_winner']
KKR

id                 38
season             38
city               38
date               38
team1              38
team2              38
toss_winner        38
toss_decision      38
result             38
dl_applied         38
winner             38
win_by_runs        38
win_by_wickets     38
player_of_match    38
venue              38
umpire1            38
umpire2            38
umpire3             0
dtype: int64

In [25]:
team_stats1

                          Teams  Toss win  Total Matches  Total win   winloss
0           Chennai Super Kings        66            131         79  0.603053
1               Deccan Chargers        43             75         29  0.386667
2              Delhi Daredevils        64            133         56  0.421053
3                 Gujarat Lions         8             16          9  0.562500
4               Kings XI Punjab        64            134         63  0.470149
5          Kochi Tuskers Kerala         8             14          6  0.428571
6         Kolkata Knight Riders        69            132         68  0.515152
7                Mumbai Indians        74            140         80  0.571429
8                 Pune Warriors        20             46         12  0.260870
9              Rajasthan Royals        63            118         63  0.533898
10      Rising Pune Supergiants         7             14          5  0.357143
11  Royal Challengers Bangalore        61            139         70  0.503597
12          Sunrisers Hyderabad        30             62         34  0.548387

In [26]:
tosswin_matchwin=pd.Series([CSK_winner,DC_winner,DD_winner,GL_winner,KXP_winner,KT_winner,KKR_winner,MI_winner,PW_winner,RR_winner,RPS_winner,RC_winner,SH_winner],index=['Chennai Super Kings','Deccan Chargers','Delhi Daredevils','Gujarat Lions','Kings XI Punjab','Kochi Tuskers Kerala','Kolkata Knight Riders','Mumbai Indians','Pune Warriors','Rajasthan Royals','Rising Pune Supergiants','Royal Challengers Bangalore','Sunrisers Hyderabad'])
tosswin_matchwin =pd.DataFrame(tosswin_matchwin,columns=['Tosswin_Matchwin'])
tosswin_matchwin = tosswin_matchwin.reset_index()
tosswin_matchwin = tosswin_matchwin.rename(index=str, columns={"index": "Teams"})
tosswin_matchwin

                          Teams  Tosswin_Matchwin
0           Chennai Super Kings                42
1               Deccan Chargers                19
2              Delhi Daredevils                28
3                 Gujarat Lions                 6
4               Kings XI Punjab                26
5          Kochi Tuskers Kerala                 4
6         Kolkata Knight Riders                38
7                Mumbai Indians                41
8                 Pune Warriors                 3
9              Rajasthan Royals                34
10      Rising Pune Supergiants                 3
11  Royal Challengers Bangalore                33
12          Sunrisers Hyderabad                14

In [27]:
Total_updates = pd.merge(team_stats1,tosswin_matchwin, on='Teams')

In [28]:
#tosswin_matchwin = tosswin_matchwin.reset_index()
#merged = team_stats1.merge(tosswin_matchwin, on='Teams')

In [29]:
Total_updates

,Teams,Toss win,Total Matches,Total win,winloss,Tosswin_Matchwin
0,Chennai Super Kings,66,131,79,0.603053,42
1,Deccan Chargers,43,75,29,0.386667,19
2,Delhi Daredevils,64,133,56,0.421053,28
3,Gujarat Lions,8,16,9,0.562500,6
4,Kings XI Punjab,64,134,63,0.470149,26
5,Kochi Tuskers Kerala,8,14,6,0.428571,4
6,Kolkata Knight Riders,69,132,68,0.515152,38
7,Mumbai Indians,74,140,80,0.571429,41
8,Pune Warriors,20,46,12,0.260870,3
9,Rajasthan Royals,63,118,63,0.533898,34
10,Rising Pune Supergiants,7,14,5,0.357143,3
11,Royal Challengers Bangalore,61,139,70,0.503597,33
12,Sunrisers Hyderabad,30,62,34,0.548387,14

In [67]:
home_winner_CSK = len(data[((data.team1 == 'Chennai Super Kings') | (data.team2 == 'Chennai Super Kings')) & ((data.city == 'Chennai') & (data.winner == 'Chennai Super Kings'))])
home_winner_KKR = len(data[((data.team1 == 'Kolkata Knight Riders') | (data.team2 == 'Kolkata Knight Riders')) & ((data.city == 'Kolkata') & (data.winner == 'Kolkata Knight Riders'))])
home_winner_RR = len(data[((data.team1 == 'Rajasthan Royals') | (data.team2 == 'Rajasthan Royals')) & ((data.city == 'Jaipur') & (data.winner == 'Rajasthan Royals'))])
home_winner_MI = len(data[((data.team1 == 'Mumbai Indians') | (data.team2 == 'Mumbai Indians')) & ((data.city == 'Mumbai') & (data.winner == 'Mumbai Indians'))])
home_winner_DC = len(data[((data.team1 == 'Deccan Chargers') | (data.team2 == 'Deccan Chargers')) & ((data.city == 'Hyderabad') & (data.winner == 'Deccan Chargers'))])
home_winner_RCB = len(data[((data.team1 == 'Royal Challengers Bangalore') | (data.team2 == 'Royal Challengers Bangalore')) & ((data.city == 'Bangalore') & (data.winner == 'Royal Challengers Bangalore'))])
home_winner_DD = len(data[((data.team1 == 'Delhi Daredevils') | (data.team2 == 'Delhi Daredevils')) & ((data.city == 'Delhi') & (data.winner == 'Delhi Daredevils'))])
home_winner_KT = len(data[((data.team1 == 'Kochi Tuskers Kerala') | (data.team2 == 'Kochi Tuskers Kerala')) & ((data.city == 'Kochi') & (data.winner == 'Kochi Tuskers Kerala'))])
home_winner_PW = len(data[((data.team1 == 'Pune Warriors') | (data.team2 == 'Pune Warriors')) & ((data.city == 'Pune') & (data.winner == 'Pune Warriors'))])
home_winner_SH = len(data[((data.team1 == 'Sunrisers Hyderabad') | (data.team2 == 'Sunrisers Hyderabad')) & ((data.city == 'Hyderabad') & (data.winner == 'Sunrisers Hyderabad'))])
home_winner_GL = len(data[((data.team1 == 'Gujarat Lions') | (data.team2 == 'Gujarat Lions')) & ((data.city == 'Rajkot') & (data.winner == 'Gujarat Lions'))])
home_winner_RPS = len(data[((data.team1 == 'Rising Pune Supergiants') | (data.team2 == 'Rising Pune Supergiants')) & ((data.city == 'Pune') & (data.winner == 'Rising Pune Supergiants'))])
home_winner_KXP = len(data[((data.team1 == 'Kings XI Punjab') | (data.team2 == 'Kings XI Punjab')) & ((data.city == 'Chandigarh') & (data.winner == 'Kings XI Punjab'))])

In [68]:
total_matches_played_CSK = len(data[((data.team1 == 'Chennai Super Kings') | (data.team2 == 'Chennai Super Kings')) & (data.city == 'Chennai')])
total_matches_played_KKR = len(data[((data.team1 == 'Kolkata Knight Riders') | (data.team2 == 'Kolkata Knight Riders')) & (data.city == 'Kolkata')])
total_matches_played_RR = len(data[((data.team1 == 'Rajasthan Royals') | (data.team2 == 'Rajasthan Royals')) & (data.city == 'Jaipur')])
total_matches_played_MI = len(data[((data.team1 == 'Mumbai Indians') | (data.team2 == 'Mumbai Indians')) & (data.city == 'Mumbai')])
total_matches_played_DC = len(data[((data.team1 == 'Deccan Chargers') | (data.team2 == 'Deccan Chargers')) & (data.city == 'Hyderabad')])
total_matches_played_RCB = len(data[((data.team1 == 'Royal Challengers Bangalore') | (data.team2 == 'Royal Challengers Bangalore')) & (data.city == 'Bangalore')])
total_matches_played_DD = len(data[((data.team1 == 'Delhi Daredevils') | (data.team2 == 'Delhi Daredevils')) & (data.city == 'Delhi')])
total_matches_played_KT = len(data[((data.team1 == 'Kochi Tuskers Kerala') | (data.team2 == 'Kochi Tuskers Kerala')) & (data.city == 'Kochi')])
total_matches_played_PW = len(data[((data.team1 == 'Pune Warriors') | (data.team2 == 'Pune Warriors')) & (data.city == 'Pune')])
total_matches_played_SH = len(data[((data.team1 == 'Sunrisers Hyderabad') | (data.team2 == 'Sunrisers Hyderabad')) & (data.city == 'Hyderabad')])
total_matches_played_GL = len(data[((data.team1 == 'Gujarat Lions') | (data.team2 == 'Gujarat Lions')) & (data.city == 'Rajkot')])
total_matches_played_RPS = len(data[((data.team1 == 'Rising Pune Supergiants') | (data.team2 == 'Rising Pune Supergiants')) & (data.city == 'Pune')])
total_matches_played_KXP = len(data[((data.team1 == 'Kings XI Punjab') | (data.team2 == 'Kings XI Punjab')) & (data.city == 'Chandigarh')])

In [88]:
winloss_home_CSK = home_winner_CSK / total_matches_played_CSK
winloss_home_KKR = home_winner_KKR / total_matches_played_KKR
winloss_home_RR = home_winner_RR / total_matches_played_RR
winloss_home_MI = home_winner_MI / total_matches_played_MI
winloss_home_DC = home_winner_DC / total_matches_played_DC
winloss_home_RCB = home_winner_RCB / total_matches_played_RCB
winloss_home_DD = home_winner_DD / total_matches_played_DD
winloss_home_KT = home_winner_KT / total_matches_played_KT
winloss_home_PW = home_winner_PW / total_matches_played_PW
winloss_home_SH = home_winner_SH / total_matches_played_SH
winloss_home_GL = home_winner_GL / total_matches_played_GL
winloss_home_RPS = home_winner_RPS / total_matches_played_RPS
winloss_home_KXP = home_winner_KXP / total_matches_played_KXP

In [90]:
winlossHome=pd.Series([winloss_home_CSK,winloss_home_DC,winloss_home_DD,winloss_home_GL,winloss_home_KXP,winloss_home_KT,winloss_home_KKR,winloss_home_MI,winloss_home_PW,winloss_home_RR,winloss_home_RPS,winloss_home_RCB,winloss_home_SH],index=['Chennai Super Kings','Deccan Chargers','Delhi Daredevils','Gujarat Lions','Kings XI Punjab','Kochi Tuskers Kerala','Kolkata Knight Riders','Mumbai Indians','Pune Warriors','Rajasthan Royals','Rising Pune Supergiants','Royal Challengers Bangalore','Sunrisers Hyderabad'])
winlossHome =pd.DataFrame(winlossHome,columns=['winlossHome'])
winlossHome = winlossHome.reset_index()
winlossHome = winlossHome.rename(index=str, columns={"index": "Teams"})
winlossHome

                          Teams  winlossHome
0           Chennai Super Kings     0.702128
1               Deccan Chargers     0.166667
2              Delhi Daredevils     0.387755
3                 Gujarat Lions     0.400000
4               Kings XI Punjab     0.476190
5          Kochi Tuskers Kerala     0.400000
6         Kolkata Knight Riders     0.647059
7                Mumbai Indians     0.666667
8                 Pune Warriors     0.250000
9              Rajasthan Royals     0.727273
10      Rising Pune Supergiants     0.000000
11  Royal Challengers Bangalore     0.517857
12          Sunrisers Hyderabad     0.608696

In [91]:
Total_updates1 = pd.merge(Total_updates,winlossHome, on='Teams')
Total_updates1

,Teams,Toss win,Total Matches,Total win,winloss,Tosswin_Matchwin,winlossHome
0,Chennai Super Kings,66,131,79,0.603053,42,0.702128
1,Deccan Chargers,43,75,29,0.386667,19,0.166667
2,Delhi Daredevils,64,133,56,0.421053,28,0.387755
3,Gujarat Lions,8,16,9,0.562500,6,0.400000
4,Kings XI Punjab,64,134,63,0.470149,26,0.476190
5,Kochi Tuskers Kerala,8,14,6,0.428571,4,0.400000
6,Kolkata Knight Riders,69,132,68,0.515152,38,0.647059
7,Mumbai Indians,74,140,80,0.571429,41,0.666667
8,Pune Warriors,20,46,12,0.260870,3,0.250000
9,Rajasthan Royals,63,118,63,0.533898,34,0.727273
10,Rising Pune Supergiants,7,14,5,0.357143,3,0.000000
11,Royal Challengers Bangalore,61,139,70,0.503597,33,0.517857
12,Sunrisers Hyderabad,30,62,34,0.548387,14,0.608696

In [126]:
teamhome = {'Kolkata Knight Riders' : 'Kolkata', 'Chennai Super Kings' : 'Chennai', 
'Rajasthan Royals': 'Jaipur', 'Mumbai Indians' : 'Mumbai', 'Deccan Chargers' : 'Hyderabad',
           'Kings XI Punjab' : 'Chandigarh', 'Royal Challengers Bangalore': 'Bangalore',
           'Delhi Daredevils' : 'Delhi', 'Kochi Tuskers Kerala' : 'Kochi', 'Pune Warriors': 'Pune',
           'Sunrisers Hyderabad' : 'Hyderabad', 'Rising Pune Supergiants' :'Pune', 
            'Gujarat Lions' : 'Ahmedabad'}

In [131]:
winloss_types = ['winlossBat','winlossField','winlossTie']

played =0
winloss_list = []
for t in data.team1.unique(): 
  
        for wl in winloss_types:
            won, loss, won1, played = 0, 0, 0, 0
            if wl == 'winlossBat':
                won = len(data[(data.winner == t) & (((data.toss_winner == t) & (data.toss_decision == 'bat'))
                      | ((data.toss_winner != t) & (data.toss_decision == 'field')))])
                played = len(data[((data.team1 == t) | (data.team2 == t)) &
                     (((data.toss_winner == t) & (data.toss_decision == 'bat'))
                      | ((data.toss_winner != t) & (data.toss_decision == 'field')))])

            elif wl == 'winlossField':
                won = len(data[(data.winner == t) & (((data.toss_winner == t) & (data.toss_decision == 'field'))
                      | ((data.toss_winner != t) & (data.toss_decision == 'bat')))])
                played = len(data[((data.team1 == t) | (data.team2 == t)) &
                     (((data.toss_winner == t) & (data.toss_decision == 'field'))
                      | ((data.toss_winner != t) & (data.toss_decision == 'bat')))])

            elif wl == 'winlossTie':
                won = len(data[((data.result == 'Tie') & (data.winner == t)) & ((data.team1 == t) | (data.team2 == t))])
                print ('won',won)
                played = len(data[((data.team1 == t) & (data.team2 == t))])
                print ('played',played)
           
            if((won != 0) & (played != 0)):
                winloss_list.append(np.round(won/played,2))
            else:
                winloss_list.append(0)
           #print(t,wl, won/played)

                
winloss_ser2 = pd.Series(winloss_list, index=pd.MultiIndex.from_product([data.team1.unique(), winloss_types]))
winloss_ser2.unstack()

0       True
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11      True
12     False
13     False
14     False
15      True
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28      True
29     False
       ...
547    False
548     True
549    False
550    False
551    False
552    False
553    False
554     True
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
563    False
564     True
565    False
566    False
567     True
568    False
569    False
570    False
571     True
572    False
573    False
574    False
575    False
576    False
Name: team1, Length: 577, dtype: bool
won 0
played 0
0      False
1       True
2      False
3      False
4      False
5      False
6      False
7       True
8      False
9      False
10     False
11     False
12     False
13     False
14      True
15     False
16     False
17     False
18     False
19      True
20     False
21     False
22     False
23      True
24     False
25      True
26     False
27     False
28     False
29     False
       ...
547    False
548    False
549    False
550    False
551    False
552    False
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
563    False
564    False
565    False
566    False
567    False
568    False
569    False
570    False
571    False
572    False
573    False
574    False
575    False
576    False
Name: team1, Length: 577, dtype: bool
won 0
played 0
0      False
1      False
2       True
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18      True
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26      True
27     False
28     False
29     False
       ...
547    False
548    False
549    False
550    False
551    False
552    False
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
563    False
564    False
565    False
566    False
567    False
568    False
569    False
570    False
571    False
572    False
573    False
574    False
575    False
576    False
Name: team1, Length: 577, dtype: bool
won 0
played 0
0      False
1      False
2      False
3       True
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12      True
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22      True
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
547    False
548    False
549    False
550    False
551    False
552    False
553    False
554    False
555    False
556    False
557    False
558    False
559     True
560    False
561    False
562    False
563     True
564    False
565    False
566    False
567    False
568    False
569    False
570     True
571    False
572    False
573    False
574    False
575    False
576    False
Name: team1, Length: 577, dtype: bool
won 0
played 0
0      False
1      False
2      False
3      False
4       True
5      False
6       True
7      False
8       True
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17      True
18     False
19     False
20      True
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29      True
       ...
547    False
548    False
549    False
550    False
551    False
552    False
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
563    False
564    False
565    False
566    False
567    False
568    False
569    False
570    False
571    False
572    False
573    False
574    False
575    False
576    False
Name: team1, Length: 577, dtype: bool
won 0
played 0
0      False
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8      False
9       True
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21      True
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
547    False
548    False
549    False
550    False
551    False
552     True
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562     True
563    False
564    False
565    False
566    False
567    False
568    False
569     True
570    False
571    False
572    False
573    False
574    False
575    False
576    False
Name: team1, Length: 577, dtype: bool
won 0
played 0
0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10      True
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24      True
25     False
26     False
27     False
28     False
29     False
       ...
547    False
548    False
549    False
550    False
551    False
552    False
553    False
554    False
555     True
556    False
557     True
558    False
559    False
560     True
561    False
562    False
563    False
564    False
565    False
566     True
567    False
568    False
569    False
570    False
571    False
572    False
573    False
574    False
575    False
576    False
Name: team1, Length: 577, dtype: bool
won 0
played 0
0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13      True
14     False
15     False
16      True
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27      True
28     False
29     False
       ...
547    False
548    False
549     True
550    False
551    False
552    False
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
563    False
564    False
565     True
566    False
567    False
568    False
569    False
570    False
571    False
572     True
573    False
574    False
575    False
576    False
Name: team1, Length: 577, dtype: bool
won 0
played 0
0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
547    False
548    False
549    False
550    False
551    False
552    False
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
563    False
564    False
565    False
566    False
567    False
568    False
569    False
570    False
571    False
572    False
573    False
574    False
575    False
576    False
Name: team1, Length: 577, dtype: bool
won 0
played 0
0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
547    False
548    False
549    False
550    False
551    False
552    False
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
563    False
564    False
565    False
566    False
567    False
568    False
569    False
570    False
571    False
572    False
573    False
574    False
575    False
576    False
Name: team1, Length: 577, dtype: bool
won 0
played 0
0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
547    False
548    False
549    False
550    False
551    False
552    False
553     True
554    False
555    False
556     True
557    False
558     True
559    False
560    False
561    False
562    False
563    False
564    False
565    False
566    False
567    False
568     True
569    False
570    False
571    False
572    False
573    False
574     True
575    False
576     True
Name: team1, Length: 577, dtype: bool
won 0
played 0
0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
547    False
548    False
549    False
550    False
551     True
552    False
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561     True
562    False
563    False
564    False
565    False
566    False
567    False
568    False
569    False
570    False
571    False
572    False
573    False
574    False
575    False
576    False
Name: team1, Length: 577, dtype: bool
won 0
played 0

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
547     True
548    False
549    False
550     True
551    False
552    False
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
563    False
564    False
565    False
566    False
567    False
568    False
569    False
570    False
571    False
572    False
573     True
574    False
575     True
576    False
Name: team1, Length: 577, dtype: bool
won 0
played 0

                             winlossBat  winlossField  winlossTie
Chennai Super Kings                0.58          0.63         0.0
Deccan Chargers                    0.42          0.34         0.0
Delhi Daredevils                   0.32          0.50         0.0
Gujarat Lions                      0.17          0.80         0.0
Kings XI Punjab                    0.41          0.54         0.0
Kochi Tuskers Kerala               0.29          0.57         0.0
Kolkata Knight Riders              0.44          0.59         0.0
Mumbai Indians                     0.57          0.58         0.0
Pune Warriors                      0.30          0.23         0.0
Rajasthan Royals                   0.46          0.59         0.0
Rising Pune Supergiants            0.00          0.71         0.0
Royal Challengers Bangalore        0.44          0.56         0.0
Sunrisers Hyderabad                0.49          0.64         0.0

In [73]:
c = data.city.unique()
c

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Kochi', 'Indore', 'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi',
       'Abu Dhabi', 'Sharjah', nan, 'Rajkot', 'Kanpur'], dtype=object)

In [32]:
data.venue.unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Holkar Cricket Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Maharashtra Cricket Association Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Saurashtra Cricket Association Stadium', 'Green Park'], dtype=object)

In [33]:
data.venue.value_counts()

M Chinnaswamy Stadium                                   58
Eden Gardens                                            54
Feroz Shah Kotla                                        53
Wankhede Stadium                                        49
MA Chidambaram Stadium, Chepauk                         48
Rajiv Gandhi International Stadium, Uppal               41
Punjab Cricket Association Stadium, Mohali              35
Sawai Mansingh Stadium                                  33
Subrata Roy Sahara Stadium                              17
Dr DY Patil Sports Academy                              17
Kingsmead                                               15
SuperSport Park                                         12
Sardar Patel Stadium, Motera                            12
Brabourne Stadium                                       11
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     11
Himachal Pradesh Cricket Association Stadium             9
New Wanderers Stadium                                    8
Maharashtra Cricket Association Stadium                  8
St George's Park                                         7
Newlands                                                 7
Punjab Cricket Association IS Bindra Stadium, Mohali     7
Dubai International Cricket Stadium                      7
Sheikh Zayed Stadium                                     7
Barabati Stadium                                         7
JSCA International Stadium Complex                       7
Shaheed Veer Narayan Singh International Stadium         6
Sharjah Cricket Stadium                                  6
Saurashtra Cricket Association Stadium                   5
Nehru Stadium                                            5
Buffalo Park                                             3
De Beers Diamond Oval                                    3
Vidarbha Cricket Association Stadium, Jamtha             3
Holkar Cricket Stadium                                   2
Green Park                                               2
OUTsurance Oval                                          2
Name: venue, dtype: int64

In [34]:
data.team1.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions'], dtype=object)

In [35]:
find_CSK=data[data['team1']=='Chennai Super Kings'].count()
find_KKR=data[data['team1']=='Kolkata Knight Riders'].count()
find_RR=data[data['team1']=='Rajasthan Royals'].count()
find_MI=data[data['team1']=='Mumbai Indians'].count()
find_DC=data[data['team1']=='Deccan Chargers'].count()
find_RCB=data[data['team1']=='Royal Challengers Bangalore'].count()
find_DD=data[data['team1']=='Delhi Daredevils'].count()
find_KT=data[data['team1']=='Kochi Tuskers Kerala'].count()
find_PW=data[data['team1']=='Pune Warriors'].count()
find_SH=data[data['team1']=='Sunrisers Hyderabad'].count()
find_RPS=data[data['team1']=='Rising Pune Supergiants'].count()
find_GL=data[data['team1']=='Gujarat Lions'].count()
find_KXP=data[data['team1']=='Kings XI Punjab'].count()

In [36]:
find_CSK1=data[data['team2']=='Chennai Super Kings'].count()
find_KKR1=data[data['team2']=='Kolkata Knight Riders'].count()
find_RR1=data[data['team2']=='Rajasthan Royals'].count()
find_MI1=data[data['team2']=='Mumbai Indians'].count()
find_DC1=data[data['team2']=='Deccan Chargers'].count()
find_RCB1=data[data['team2']=='Royal Challengers Bangalore'].count()
find_DD1=data[data['team2']=='Delhi Daredevils'].count()
find_KT1=data[data['team2']=='Kochi Tuskers Kerala'].count()
find_PW1=data[data['team2']=='Pune Warriors'].count()
find_SH1=data[data['team2']=='Sunrisers Hyderabad'].count()
find_RPS1=data[data['team2']=='Rising Pune Supergiants'].count()
find_GL1=data[data['team2']=='Gujarat Lions'].count()
find_KXP1=data[data['team2']=='Kings XI Punjab'].count()

In [37]:
Total_appearance_by_CSK = find_CSK['team1'] + find_CSK1['team2']
Total_appearance_by_KKR = find_KKR['team1'] + find_KKR1['team2']
Total_appearance_by_RR = find_RR['team1'] + find_RR1['team2']
Total_appearance_by_MI = find_MI['team1'] + find_MI1['team2']
Total_appearance_by_DC = find_DC['team1'] + find_DC1['team2']
Total_appearance_by_RCB = find_RCB['team1'] + find_RCB1['team2']
Total_appearance_by_DD = find_DD['team1'] + find_DD1['team2']
Total_appearance_by_KT = find_KT['team1'] + find_KT1['team2']
Total_appearance_by_PW = find_PW['team1'] + find_PW1['team2']
Total_appearance_by_SH = find_SH['team1'] + find_SH1['team2']
Total_appearance_by_RPS = find_RPS['team1'] + find_RPS1['team2']
Total_appearance_by_GL = find_GL['team1'] + find_GL1['team2']
Total_appearance_by_KXP = find_KXP['team1'] + find_KXP1['team2']

In [38]:
played_total = Total_appearance_by_CSK + Total_appearance_by_KKR + Total_appearance_by_RR + Total_appearance_by_MI + Total_appearance_by_DC + Total_appearance_by_RCB
+ Total_appearance_by_DD + Total_appearance_by_KT + Total_appearance_by_PW + Total_appearance_by_SH + Total_appearance_by_RPS + Total_appearance_by_GL + Total_appearance_by_KXP

419

In [39]:
#No. of matches played in each city
matches_at_cities=data.groupby('city').count()[['id']].reset_index()
matches_at_cities

              city  id
0        Abu Dhabi   7
1        Ahmedabad  12
2        Bangalore  58
3     Bloemfontein   2
4        Cape Town   7
5        Centurion  12
6       Chandigarh  42
7          Chennai  48
8          Cuttack   7
9            Delhi  53
10      Dharamsala   9
11          Durban  15
12     East London   3
13       Hyderabad  41
14          Indore   2
15          Jaipur  33
16    Johannesburg   8
17          Kanpur   2
18       Kimberley   3
19           Kochi   5
20         Kolkata  54
21          Mumbai  77
22          Nagpur   3
23  Port Elizabeth   7
24            Pune  25
25          Raipur   6
26          Rajkot   5
27          Ranchi   7
28         Sharjah   6
29   Visakhapatnam  11

In [60]:
home_winner_CSK = len(data[((data.team1 == 'Chennai Super Kings') | (data.team2 == 'Chennai Super Kings')) & ((data.city == 'Chennai') & (data.winner == 'Chennai Super Kings'))])
home_winner_KKR = len(data[((data.team1 == 'Kolkata Knight Riders') | (data.team2 == 'Kolkata Knight Riders')) & ((data.city == 'Kolkata') & (data.winner == 'Kolkata Knight Riders'))])
home_winner_RR = len(data[((data.team1 == 'Rajasthan Royals') | (data.team2 == 'Rajasthan Royals')) & ((data.city == 'Jaipur') & (data.winner == 'Rajasthan Royals'))])
home_winner_MI = len(data[((data.team1 == 'Mumbai Indians') | (data.team2 == 'Mumbai Indians')) & ((data.city == 'Mumbai') & (data.winner == 'Mumbai Indians'))])
home_winner_DC = len(data[((data.team1 == 'Deccan Chargers') | (data.team2 == 'Deccan Chargers')) & ((data.city == 'Hyderabad') & (data.winner == 'Deccan Chargers'))])
home_winner_RCB = len(data[((data.team1 == 'Royal Challengers Bangalore') | (data.team2 == 'Royal Challengers Bangalore')) & ((data.city == 'Bangalore') & (data.winner == 'Royal Challengers Bangalore'))])
home_winner_DD = len(data[((data.team1 == 'Delhi Daredevils') | (data.team2 == 'Delhi Daredevils')) & ((data.city == 'Delhi') & (data.winner == 'Delhi Daredevils'))])
home_winner_KT = len(data[((data.team1 == 'Kochi Tuskers Kerala') | (data.team2 == 'Kochi Tuskers Kerala')) & ((data.city == 'Kochi') & (data.winner == 'Kochi Tuskers Kerala'))])
home_winner_PW = len(data[((data.team1 == 'Pune Warriors') | (data.team2 == 'Pune Warriors')) & ((data.city == 'Pune') & (data.winner == 'Pune Warriors'))])
home_winner_SH = len(data[((data.team1 == 'Sunrisers Hyderabad') | (data.team2 == 'Sunrisers Hyderabad')) & ((data.city == 'Hyderabad') & (data.winner == 'Sunrisers Hyderabad'))])
home_winner_GL = len(data[((data.team1 == 'Gujarat Lions') | (data.team2 == 'Gujarat Lions')) & ((data.city == 'Rajkot') & (data.winner == 'Gujarat Lions'))])
home_winner_RPS = len(data[((data.team1 == 'Rising Pune Supergiants') | (data.team2 == 'Rising Pune Supergiants')) & ((data.city == 'Pune') & (data.winner == 'Rising Pune Supergiants'))])
home_winner_KXP = len(data[((data.team1 == 'Kings XI Punjab') | (data.team2 == 'Kings XI Punjab')) & ((data.city == 'Chandigarh') & (data.winner == 'Kings XI Punjab'))])

In [61]:
total_matches_played_CSK = len(data[((data.team1 == 'Chennai Super Kings') | (data.team2 == 'Chennai Super Kings')) & (data.city == 'Chennai')])
total_matches_played_KKR = len(data[((data.team1 == 'Kolkata Knight Riders') | (data.team2 == 'Kolkata Knight Riders')) & (data.city == 'Kolkata')])
total_matches_played_RR = len(data[((data.team1 == 'Rajasthan Royals') | (data.team2 == 'Rajasthan Royals')) & (data.city == 'Jaipur')])
total_matches_played_MI = len(data[((data.team1 == 'Mumbai Indians') | (data.team2 == 'Mumbai Indians')) & (data.city == 'Mumbai')])
total_matches_played_DC = len(data[((data.team1 == 'Deccan Chargers') | (data.team2 == 'Deccan Chargers')) & (data.city == 'Hyderabad')])
total_matches_played_RCB = len(data[((data.team1 == 'Royal Challengers Bangalore') | (data.team2 == 'Royal Challengers Bangalore')) & (data.city == 'Bangalore')])
total_matches_played_DD = len(data[((data.team1 == 'Delhi Daredevils') | (data.team2 == 'Delhi Daredevils')) & (data.city == 'Delhi')])
total_matches_played_KT = len(data[((data.team1 == 'Kochi Tuskers Kerala') | (data.team2 == 'Kochi Tuskers Kerala')) & (data.city == 'Kochi')])
total_matches_played_PW = len(data[((data.team1 == 'Pune Warriors') | (data.team2 == 'Pune Warriors')) & (data.city == 'Pune')])
total_matches_played_SH = len(data[((data.team1 == 'Sunrisers Hyderabad') | (data.team2 == 'Sunrisers Hyderabad')) & (data.city == 'Hyderabad')])
total_matches_played_GL = len(data[((data.team1 == 'Gujarat Lions') | (data.team2 == 'Chennai Super Kings')) & (data.city == 'Rajkot')])
total_matches_played_RPS = len(data[((data.team1 == 'Rising Pune Supergiants') | (data.team2 == 'Chennai Super Kings')) & (data.city == 'Pune')])
total_matches_played_KXP = len(data[((data.team1 == 'Kings XI Punjab') | (data.team2 == 'Kings XI Punjab')) & (data.city == 'Chandigarh')])

In [62]:
home_ground_wins = (home_winner_CSK * home_winner_KKR + home_winner_RR + home_winner_MI + home_winner_DC + home_winner_RCB +home_winner_DD +home_winner_KT +home_winner_PW
+ home_winner_SH + home_winner_GL +home_winner_RPS + home_winner_KXP)

In [64]:
total_matches_played_RPS

3

In [65]:
winloss_home_CSK = home_winner_CSK / total_matches_played_CSK
winloss_home_KKR = home_winner_KKR / total_matches_played_KKR
winloss_home_RR = home_winner_RR / total_matches_played_CSK
winloss_home_CSK = home_winner_CSK / total_matches_played_CSK
winloss_home_CSK = home_winner_CSK / total_matches_played_CSK
winloss_home_CSK = home_winner_CSK / total_matches_played_CSK
winloss_home_CSK = home_winner_CSK / total_matches_played_CSK
winloss_home_CSK = home_winner_CSK / total_matches_played_CSK
winloss_home_CSK = home_winner_CSK / total_matches_played_CSK
winloss_home_CSK = home_winner_CSK / total_matches_played_CSK
winloss_home_CSK = home_winner_CSK / total_matches_played_CSK
winloss_home_CSK = home_winner_CSK / total_matches_played_CSK

In [45]:
data.city.unique

<bound method Series.unique of 0          Bangalore
1         Chandigarh
2              Delhi
3             Mumbai
4            Kolkata
5             Jaipur
6          Hyderabad
7            Chennai
8          Hyderabad
9         Chandigarh
10         Bangalore
11           Chennai
12            Mumbai
13        Chandigarh
14         Bangalore
15           Kolkata
16             Delhi
17         Hyderabad
18            Jaipur
19           Chennai
20         Hyderabad
21        Chandigarh
22            Mumbai
23            Jaipur
24         Bangalore
25           Chennai
26            Mumbai
27             Delhi
28           Kolkata
29            Jaipur
           ...
547           Rajkot
548          Kolkata
549            Delhi
550        Hyderabad
551        Bangalore
552       Chandigarh
553    Visakhapatnam
554          Kolkata
555       Chandigarh
556    Visakhapatnam
557        Bangalore
558        Hyderabad
559    Visakhapatnam
560        Bangalore
561          Kolkata
562       Chandigarh
563    Visakhapatnam
564          Kolkata
565    Visakhapatnam
566        Bangalore
567           Kanpur
568           Raipur
569    Visakhapatnam
570           Kanpur
571          Kolkata
572           Raipur
573        Bangalore
574            Delhi
575            Delhi
576        Bangalore
Name: city, Length: 577, dtype: object>

In [48]:
a = len(data[((data.team1 == 'Chennai Super Kings') | (data.team2 == 'Chennai Super Kings')) & ((data.city == 'Chennai') & (data.winner == 'Chennai Super Kings'))])

In [50]:
home_winner_CSK = len(data[((data.team1 == 'Chennai Super Kings') | (data.team2 == 'Chennai Super Kings')) & ((data.city == 'Chennai') & (data.winner == 'Chennai Super Kings'))])

In [51]:
home_winner_CSK

33

In [ ]:
#Total number of matches won by each team
KKR=data[data['winner']=='Kolkata Knight Riders'].count()
MI=data[data['winner']=='Mumbai Indians'].count()
KXP=data[data['winner']=='Kings XI Punjab'].count()
CSK=data[data['winner']=='Chennai Super Kings'].count()
DC=data[data['winner']=='Deccan Chargers'].count()
DD=data[data['winner']=='Delhi Daredevils'].count()
RC=data[data['winner']=='Royal Challengers Bangalore'].count()
KT=data[data['winner']=='Kochi Tuskers Kerala'].count()
SH=data[data['winner']=='Sunrisers Hyderabad'].count()
RPS=data[data['winner']=='Rising Pune Supergiants'].count()
RR=data[data['winner']=='Rajasthan Royals'].count()
PW=data[data['winner']=='Pune Warriors'].count()
GL=data[data['winner']=='Gujarat Lions'].count()
KKR_winner=KKR['winner']
MI_winner= MI['winner']
KXP_winner=KXP['winner']
CSK_winner=CSK['winner']
DC_winner=DC['winner']
DD_winner=DD['winner']
RC_winner=RC['winner']
KT_winner=KT['winner']
SH_winner=SH['winner']
RPS_winner=RPS['winner']
RR_winner=RR['winner']
PW_winner=PW['winner']
GL_winner=GL['winner']

In [132]:
data[((data.result == 'Tie') & (data.winner == 'Chennai Super Kings')) & ((data.team1 == 'Chennai Super Kings') | (data.team2 == 'Chennai Super Kings'))]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, result, dl_applied, winner, win_by_runs, win_by_wickets, player_of_match, venue, umpire1, umpire2, umpire3]
Index: []

In [142]:
data[((data.result == 'tie') & (data.winner == 'Rajasthan Royals'))]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
66,67,2009,Jaipur,2009-04-23,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,tie,0,Rajasthan Royals,0,0,YK Pathan,Newlands,MR Benson,M Erasmus,NaN
416,417,2014,Jaipur,2014-04-29,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,tie,0,Rajasthan Royals,0,0,JP Faulkner,Sheikh Zayed Stadium,Aleem Dar,AK Chaudhary,NaN

In [138]:
data[((data.team1 == 'Chennai Super Kings') | (data.team2 == 'Chennai Super Kings')) & ((data.result == 'tie') & (data.winner == 'Chennai Super Kings'))

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
547    False
548    False
549    False
550    False
551    False
552    False
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
563    False
564    False
565    False
566    False
567    False
568    False
569    False
570    False
571    False
572    False
573    False
574    False
575    False
576    False
Name: result, Length: 577, dtype: bool

In [ ]:
teamhome = {'Kolkata Knight Riders' : 'Kolkata', 'Chennai Super Kings' : 'Chennai', 
'Rajasthan Royals': 'Jaipur', 'Mumbai Indians' : 'Mumbai', 'Deccan Chargers' : 'Hyderabad',
           'Kings XI Punjab' : 'Chandigarh', 'Royal Challengers Bangalore': 'Bangalore',
           'Delhi Daredevils' : 'Delhi', 'Kochi Tuskers Kerala' : 'Kochi', 'Pune Warriors': 'Pune',
           'Sunrisers Hyderabad' : 'Hyderabad', 'Rising Pune Supergiants' :'Pune', 
            'Gujarat Lions' : 'Rajkot'}

In [154]:
winloss_types = ['winlossBat','winlossField','winlossTie']

played =0
winloss_list = []
for t in data.team1.unique(): 
    for data.city in ['Kolkata','Chennai','Jaipur','Mumbai','Hyderabad','Chandigarh','Bangalore','Delhi','Kochi','Pune','Rajkot']:
  
        for wl in winloss_types:
            won, loss, won1, played = 0, 0, 0, 0
            if wl == 'winlossBat':
                won = len(data[(data.winner == t) & (((data.toss_winner == t) & (data.toss_decision == 'bat'))
                      | ((data.toss_winner != t) & (data.toss_decision == 'field')))])
                played = len(data[((data.team1 == t) | (data.team2 == t)) &
                     (((data.toss_winner == t) & (data.toss_decision == 'bat'))
                      | ((data.toss_winner != t) & (data.toss_decision == 'field')))])

            elif wl == 'winlossField':
                won = len(data[(data.winner == t) & (((data.toss_winner == t) & (data.toss_decision == 'field'))
                      | ((data.toss_winner != t) & (data.toss_decision == 'bat')))])
                played = len(data[((data.team1 == t) | (data.team2 == t)) &
                     (((data.toss_winner == t) & (data.toss_decision == 'field'))
                      | ((data.toss_winner != t) & (data.toss_decision == 'bat')))])

            elif wl == 'winlossTie':
                won =len(data[((data.result == 'tie') & (data.winner == t)) & ((data.team1 == t) | (data.team2 == t))])
                print ('won',won)
                played = len(data[((data.team1 == t) | (data.team2 == t))])
                print ('played',played)
            elif wl == 'winlossHome':
                won =len(data[((data.team1 == t) | (data.team2 == t)) & ((data.city == teamhome) & (data.winner == t))])
                print ('won',won)
                played = len(data[((data.team1 == t) | (data.team2 == t)) & (data.city == teamhome)])
                print ('played',played)
            if((won != 0) & (played != 0)):
                print
                winloss_list.append(np.round(won/played,2))
            else:
                winloss_list.append(0)
           #print(t,wl, won/played)

                
winloss_ser2 = pd.Series(winloss_list, index=pd.MultiIndex.from_product([data.team1.unique(), winloss_types]))
winloss_ser2.unstack()
index = pd.MultiIndex.from_product([data.team1.unique(), winloss_types])
series = pd.Series(list(chain(*zip(winloss_list,winloss_list1))), index=index)

won 0
played 132
won 0
played 132
won 0
played 132
won 0
played 132
won 0
played 132
won 0
played 132
won 0
played 132
won 0
played 132
won 0
played 132
won 0
played 132
won 0
played 132
won 0
played 131
won 0
played 131
won 0
played 131
won 0
played 131
won 0
played 131
won 0
played 131
won 0
played 131
won 0
played 131
won 0
played 131
won 0
played 131
won 0
played 131
won 2
played 118
won 2
played 118
won 2
played 118
won 2
played 118
won 2
played 118
won 2
played 118
won 2
played 118
won 2
played 118
won 2
played 118
won 2
played 118
won 2
played 118
won 0
played 140
won 0
played 140
won 0
played 140
won 0
played 140
won 0
played 140
won 0
played 140
won 0
played 140
won 0
played 140
won 0
played 140
won 0
played 140
won 0
played 140
won 0
played 75
won 0
played 75
won 0
played 75
won 0
played 75
won 0
played 75
won 0
played 75
won 0
played 75
won 0
played 75
won 0
played 75
won 0
played 75
won 0
played 75
won 2
played 134
won 2
played 134
won 2
played 134
won 2
played 134
won 2
played 134
won 2
played 134
won 2
played 134
won 2
played 134
won 2
played 134
won 2
played 134
won 2
played 134
won 1
played 139
won 1
played 139
won 1
played 139
won 1
played 139
won 1
played 139
won 1
played 139
won 1
played 139
won 1
played 139
won 1
played 139
won 1
played 139
won 1
played 139
won 0
played 133
won 0
played 133
won 0
played 133
won 0
played 133
won 0
played 133
won 0
played 133
won 0
played 133
won 0
played 133
won 0
played 133
won 0
played 133
won 0
played 133
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 46
won 0
played 46
won 0
played 46
won 0
played 46
won 0
played 46
won 0
played 46
won 0
played 46
won 0
played 46
won 0
played 46
won 0
played 46
won 0
played 46
won 1
played 62
won 1
played 62
won 1
played 62
won 1
played 62
won 1
played 62
won 1
played 62
won 1
played 62
won 1
played 62
won 1
played 62
won 1
played 62
won 1
played 62
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 14
won 0
played 16
won 0
played 16
won 0
played 16
won 0
played 16
won 0
played 16
won 0
played 16
won 0
played 16
won 0
played 16
won 0
played 16
won 0
played 16
won 0
played 16

ValueError: Wrong number of items passed 429, placement implies 39

In [ ]:
len(data[((data.team1 == 'Chennai Super Kings') | (data.team2 == 'Chennai Super Kings')) & ((data.city == teamhome) & (data.winner == 'Chennai Super Kings'))])